URxvt.color0: #3B3B3B
URxvt.color1: #CF6A4C
URxvt.color2: #99AD6A
URxvt.color3: #D8AD4C
URxvt.color4: #597BC5
URxvt.color5: #A037B0
URxvt.color6: #71B9F8
URxvt.color7: #ADADAD
URxvt.color8: #3B3B3B
URxvt.color9: #CF6A4C
URxvt.color10: #99AD6A
URxvt.color11: #D8AD4C
URxvt.color12: #597BC5
URxvt.color13: #A037B0
URxvt.color14: #71B9F8
URxvt.color15: #ADADAD
URxvt*pointerBlankDelay: 1
URxvt*pointerBlank:     true
